<div class="topContentDiv" [@fadeIn]="'in'">
  <mat-card class="primaryCard">
    <mat-card-header>
      <mat-card-title class="h3">Expenses</mat-card-title>
      <div class="spacer"></div>
      <mat-icon aria-hidden="false" aria-label="Example home icon">add</mat-icon>
    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 expenses-table">
        <ng-container matColumnDef="day">
          <th mat-header-cell *matHeaderCellDef>Day</th>
          <td mat-cell *matCellDef="let element"> {{element.day}} </td>
        </ng-container>
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef>Description</th>
          <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>
        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef>Category</th>
          <td mat-cell *matCellDef="let element"> {{element.category}} </td>
        </ng-container>
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef>Amount</th>
          <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <div style="text-align: right; padding-top: 10px">
        <app-table-footer [type]="'Expenses'" [total]="3000"></app-table-footer>
      </div>
    </mat-card-content>
  </mat-card>
</div>
