.topContentDiv {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.primaryCard {
  width: 50%;
  margin-bottom: 10px;
}

@media (max-width: 767.98px) {
  .primaryCard {
    min-width: 88% !important;
  }
}

.income-table, .expenses-table {
  width: 100%;
}

.delete-icon{
  margin-right: 0px;
}

.mat-column-day {
  width: 20px;
  padding-left: 0;
  padding-right: 24px;
  text-align: center;
}

.mat-column-category {
  padding-left: 10px;
  /*font-size: 20px;*/
}

.mat-column-amount {
  width: 32px;
  padding-left: 5px;
  text-align: center;
  font-weight: bold;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
}

.row-is-clicked {
  font-weight: bold;
}

