<div class="topContentDiv" [@fadeIn]="'in'">
  <mat-card class="primaryCard">
    <mat-card-header>
      <mat-card-title class="h3">Income</mat-card-title>
      <div class="spacer"></div>
      <button mat-icon-button>
        <mat-icon class="mat-e delete-icon" aria-hidden="false" aria-label="delete income icon" *ngIf="clickedRow">delete</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon class="mat-e" aria-hidden="false" aria-label="Add income icon" (click)="openNewTransaction()">add</mat-icon>
      </button>
    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 income-table">
        <ng-container matColumnDef="day">
          <th mat-header-cell *matHeaderCellDef>Day</th>
          <td mat-cell *matCellDef="let element"> {{element.day}} </td>
        </ng-container>
        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef>Category</th>
          <td mat-cell *matCellDef="let element"> {{element.category}} </td>
        </ng-container>
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef>Amount</th>
          <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
          (click)="clickOnRow(row)" [class.row-is-clicked]="clickedRow===row">
        </tr>
      </table>
      <div style="text-align: right; padding-top: 10px">
        <app-table-footer [type]="'Income'" [total]="3000"></app-table-footer>
      </div>
    </mat-card-content>
  </mat-card>
</div>
