<p>
  <mat-toolbar color="primary">
    <span>Tiny Budgeter</span>
    <span class="spacer"></span>
  </mat-toolbar>
</p>
<!--<div class="d-flex justify-content-center calendarDiv">-->
<!--<input class="border border-dark rounded" type="month" id="start" name="start"-->
<!--       min="2021-01" value="2021-12">-->
<!--</div>-->

<app-table-income *appDelay="50"></app-table-income>
<app-table-expenses *appDelay="200"></app-table-expenses>
<app-table-expenses-total *appDelay="300"></app-table-expenses-total>
